body {
    background-color: whitesmoke;
    color: rgb(79, 77, 189);
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a:hover {
    color: blueviolet;
}

a:visited {
    color: blue
}